.pipeline * {
  font-family: 'Montserrat', sans-serif;
  justify-content: center;
  
}



.pipeline h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 64px;
  color: #F0C419;
}

.pipeline h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  color: #F0C419;
  margin-bottom: 56px;
}

.pipeline h5 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  color: #af8d05;
}

.pipeline h6 {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #9e872d;
}

.pipeline p {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.pipeline .bg-azul {
  background-color: #F5F8FD;
  padding: 50px;
}

.pipeline .text-cinza {
  line-height: 32px;
  color: #76787C;
}

.pipeline ul {
  padding-left: 24px;
}

.pipeline li::marker {
  font-size: 11px;
}

.pipeline li {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.pipeline ul.list-check {
  padding-left: 0px;
}

.pipeline ul.list-check li {
  background: url("../../assets/img/check-icon.svg") no-repeat 1px -1px transparent;
  list-style-type: none;
  margin: 0;
  padding: 0px 0px 1px 30px;
  vertical-align: middle;
  margin-top: 24px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.6);
}

.pipeline ul.list-question li {
  background: url("../../assets/img/question-icon.svg") no-repeat 1px 6px transparent;
  list-style-type: none;
  margin: 0;
  padding: 0px 0px 1px 30px;
  vertical-align: middle;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}

.pipeline .container {
  padding-top: 40px;
  margin-bottom: 80px;
}

.pipeline .container h1{
  margin-bottom: 80px;
}

.pipeline .card {
  border: none;
  background: inherit;
  border-radius: initial;
}

.pipeline .card-header {
  background-color: initial;
  border-bottom: none;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  color: #F0C419;
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 16px;
}

.pipeline .card-title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #F0C419;
  margin-bottom: 40px;
}

.pipeline .card-body {
  padding: 24px;
  background: #FFFFFF;
  border: 3px solid #dee20a;
  border-radius: 8px;
  box-shadow: 11px 15px 0px -3px rgba(10, 208, 226, 0.24);
}

.pipeline .card-body > p {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.pipeline .ellipse {
  position: relative;
  border-radius: 50%;
  background: #cbd53f;
  display: inline-block;
  height: 100%;
  max-height: 80px;
  width: 100%;
  max-width: 80px;
}

.pipeline .ellipse > h6 {
  text-align: center;
  line-height: 80px;
  border-radius: 50%;
  font-style: normal;
  font-size: 36px;
  font-weight: 700;
  color: #FFFFFF;
}

.pipeline .linha {
  border-left: 16px solid rgba(63, 118, 213, 0.16);
  width: 16px;
  height: 100%;
}

.pipeline a {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-decoration-line: underline;
  color: #000000;
}

.text-primary {
  color: #d5b23f!important;
}

.pipeline .menu_container {
height: 3rem;
position: absolute;
display: flex;
align-items: center;

}

.pipeline .menu_box {
  background: #e2cc0a;
  border-radius: 20px;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #ffffff;
  transition: transform 0.3s ease;
  padding: 15px;
  
}

.pipeline .btn-toolbar {
  background: transparent;
  gap: 15px;
}

.pipeline .btn-toolbar .btn-secondary {
  background: #f7ff8b;
background: linear-gradient(0deg, rgb(238, 255, 139) 0%, rgb(246, 251, 203) 35%, rgb(254, 255, 221) 100%);
color: #7f791e;
font-weight: 700;
border: 2px solid #777900;
transition: transform 0.3s ease;

}

.pipeline .btn-group {
  border-radius: 40px;
}

.pipeline .btn-toolbar .btn-secondary:hover {
  background: #f4f26f;
}

.pipeline .btn-toolbar p{
  margin-top: 15px;
}

.pipeline .btn-link {
  color: #000000;
  text-align: left;
}

.pipeline .col-6 .onde{
  font-size: 12px;
  line-height: 15px; 
  font-weight: 600;
}

.pipeline .container-fluid.bg-azul .justify-content-between.container .col-6{
  background: #f5fbc2; 
  padding: 20px; 
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px; 
  margin-bottom: 30px;
  transition: all 0.5s ease;
}

.pipeline .container-fluid.bg-azul .justify-content-between.container .col-6:hover{
  background: #f0fbc2; 
  box-shadow: rgb(71, 77, 38) 0px 20px 30px -10px;
}

.pipeline .col-6 .faq .align-items-start {
  text-decoration: none; 
  bottom: 15px; 
  padding-top: 20px;
  color: #d3c337;
}

.pipeline .container-fluid.bg-azul .justify-content-between.container .col{
  background: #ffffff;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px; 
  padding: 20px; 
  margin-bottom: 30px;
  transition: all 0.5s ease;
}

.pipeline .container-fluid.bg-azul .justify-content-between.container .col:hover{
  background: #ffffff; box-shadow: rgb(71, 77, 38) 0px 20px 30px -10px;
}

.pipeline .container-fluid.bg-azul .justify-content-between.container .col h6{
  text-align: center; margin: 20px;
}

.pipeline .container-fluid.bg-azul .justify-content-between.container .col .guia{
  text-decoration: none;  
  bottom: 15px; 
  position: absolute;
  color: #bcd337;
}

.pipeline .justify-content-between.container{
    margin-bottom: .1rem;
}

.pipeline .row {
  text-align: justify;
}

.pipeline .col-12 {
  margin-bottom: 10px;
}

.pipeline .col-0.justify-content-start .duvida{
  display: flex; 
  justify-content: flex-start; 
  gap: 5px;
  padding-top: 10px;
}

.pipeline .containerBoleano strong{
  color: #b8cb11;
}

.pipeline .card-header {
  margin: 2px;
}

.pipeline #headingOne.card-header {
  margin-bottom: 0;
  
}

.pipeline button.btn.btn-link {
  margin: 5px;
  position: relative;
}

.pipeline .collapse.show{
  margin-bottom: 30px;
}

.pipeline .card-body {
  padding: 5px;
  bottom: 0;
  background: #ffffff;
  border: none;
}

.pipeline .card-body ul{
  margin-bottom: 0;
}

.pipeline .card-body p {
  margin: 0;
}

.pipeline #c2, #c3, #c4 {
  display: none;
}

.pipeline .modalDialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}

.pipeline .modalDialog:target {
  opacity: 1;
  pointer-events: auto;
}

.pipeline .modalDialog > div {
  width: 30%;
  height: auto;
  position: relative;
  margin: 10% auto;
  border: 1px solid #d0d337;
  border-radius: 30px;
  background: #ffffff; 
  box-shadow: rgba(255, 218, 10, 0.2) 0px 7px 29px 0px;
  padding: 25px; 
}

.pipeline .modalDialog p {
  background: #f0d80598;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  padding: 10px;
  border-radius: 10px;
}

.pipeline .modalDialog p a{
  text-decoration: none;
  text-align: justify;
  color: #ffffff;
  font-size: 13px;
  font-weight: 200;
}

.pipeline .modalDialog1 {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}

.pipeline .modalDialog1:target {
  opacity: 1;
  pointer-events: auto;
}

.pipeline .modalDialog1 > div {
  width: 30%;
  height: auto;
  position: relative;
  margin: 10% auto;
  border: 1px solid #d0d337;
  border-radius: 30px;
  background: #ffffff; 
  box-shadow: rgba(255, 218, 10, 0.2) 0px 7px 29px 0px;
  padding: 25px; 
}

.pipeline .modalDialog1 p {
  background: #f0d80598;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  padding: 10px;
  border-radius: 10px;
}

.pipeline .modalDialog1 p a{
  text-decoration: none;
  text-align: justify;
  color: #ffffff;
  font-size: 13px;
  font-weight: 200;
}

.pipeline .modalDialog2 {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}

.pipeline .modalDialog2:target {
  opacity: 1;
  pointer-events: auto;
}

.pipeline .modalDialog2 > div {
  width: 30%;
  height: auto;
  position: relative;
  margin: 10% auto;
  border: 1px solid #d0d337;
  border-radius: 30px;
  background: #ffffff; 
  box-shadow: rgba(255, 218, 10, 0.2) 0px 7px 29px 0px;
  padding: 25px; 
}

.pipeline .modalDialog2 p {
  background: #f0d80598;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  padding: 10px;
  border-radius: 10px;
}

.pipeline .modalDialog2 p a{
  text-decoration: none;
  text-align: justify;
  color: #ffffff;
  font-size: 13px;
  font-weight: 200;
}

.pipeline .modalDialog3 {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}
.pipeline .modalDialog3:target {
  opacity: 1;
  pointer-events: auto;
}
.pipeline .modalDialog3 > div {
  width: 30%;
  height: auto;
  position: relative;
  margin: 10% auto;
  border: 1px solid #d0d337;
  border-radius: 30px;
  background: #ffffff; 
  box-shadow: rgba(255, 218, 10, 0.2) 0px 7px 29px 0px;
  padding: 25px; 
}

.pipeline .modalDialog3 p {
  background: #f0d80598;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  padding: 10px;
  border-radius: 10px;
}

.pipeline .modalDialog3 p a{
  text-decoration: none;
  text-align: justify;
  color: #ffffff;
  font-size: 13px;
  font-weight: 200;
}

.pipeline .modalDialog4 {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}
.pipeline .modalDialog4:target {
  opacity: 1;
  pointer-events: auto;
}
.pipeline .modalDialog4 > div {
  width: 30%;
  height: auto;
  position: relative;
  margin: 10% auto;
  border: 1px solid #376FD3;
  border-radius: 30px;
  background: #ffffff; 
  box-shadow: rgba(10, 206, 255, 0.2) 0px 7px 29px 0px;
  padding: 25px; 
}

.pipeline .modalDialog4 > div {
  width: 30%;
  height: auto;
  position: relative;
  margin: 10% auto;
  border: 1px solid #d0d337;
  border-radius: 30px;
  background: #ffffff; 
  box-shadow: rgba(255, 218, 10, 0.2) 0px 7px 29px 0px;
  padding: 25px; 
}

.pipeline .modalDialog4 p {
  background: #f0d80598;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  padding: 10px;
  border-radius: 10px;
}

.pipeline .modalDialog5 {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}
.pipeline .modalDialog5:target {
  opacity: 1;
  pointer-events: auto;
}
.pipeline .modalDialog5 > div {
  width: 30%;
  height: auto;
  position: relative;
  margin: 10% auto;
  border: 1px solid #d0d337;
  border-radius: 30px;
  background: #ffffff; 
  box-shadow: rgba(255, 218, 10, 0.2) 0px 7px 29px 0px;
  padding: 25px; 
}

.pipeline .modalDialog5 p {
  background: #f0d80598;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  padding: 10px;
  border-radius: 10px;
}

.pipeline .modalDialog5 p a{
  text-decoration: none;
  text-align: justify;
  color: #ffffff;
  font-size: 13px;
  font-weight: 200;
}

.pipeline .close {
  background: #606061;
  color: #FFFFFF;
  line-height: 25px;
  position: absolute;
  right: -15px;
  text-align: center;
  top: -10px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
}
.pipeline .close:hover {
  background: #00d9ff;
}

.pipeline .justify-content-between.container{
  display: flex;
  flex-wrap: wrap;
}